<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookserve.mapper.BookMapper">
    <update id="updateStock">
        update book
        set stock = stock - #{num}
        where id = #{bookId}
    </update>
    <delete id="deleteBook">
        delete from book where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="getAllBook" resultType="com.bookserve.pojo.Book">
        select book.*, category.name as categoryName
        from book
        left join category on book.category_id = category.id
        <where>
            <if test="name != null and name != ''">
                and book.title like concat('%',#{name},'%')
            </if>
            <if test="author != null and author != ''">
                and book.author like concat('%',#{author},'%')
            </if>
            <if test="status != null">
                and book.status = #{status}
            </if>
            <if test="categoryName != null and categoryName != ''">
                and category.name = #{categoryName}
            </if>
            <if test="isRecommended != null">
                and book.is_recommended = #{isRecommended}
            </if>
        </where>
    </select>
    <select id="getBookByCategoryId" resultType="com.bookserve.pojo.Book">
        select book.*, category.name as categoryName
        from book
        left join category on book.category_id = category.id
        where book.category_id=#{id}
    </select>
    <select id="getfindBookById" resultType="java.lang.Boolean">
        select exists(select 1 from book where id=#{id})
    </select>
    <select id="selectById" resultType="com.bookserve.pojo.Book">

        select * from book where book.id = #{id}
    </select>
    <select id="getAllBooks" resultType="com.bookserve.pojo.Book">
        SELECT book.*, category.name AS categoryName
        FROM book
                 LEFT JOIN category ON book.category_id = category.id
    </select>


    <!-- 查询推荐书本 -->
    <select id="selectRecommendedBooks" resultType="com.bookserve.pojo.Book">
        SELECT id, title, author, price, cover_image, description
        FROM book
        WHERE is_recommended = 1 AND status = 1
        ORDER BY update_time DESC
    </select>
    <!--<update id="batchUpdateRecommendStatus">
        UPDATE book
        SET is_recommended = #{recommendStatus}, update_time = NOW()
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>-->
</mapper>