<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bookserve.mapper.ReviewMapper">
    <insert id="insert">
        INSERT INTO review
            (user_id, book_id, content, rating)
        VALUES
            (#{userId}, #{bookId}, #{content}, #{rating})
    </insert>
    <delete id="deleteReview">
        DELETE FROM review WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="getAllReview" resultType="com.bookserve.pojo.Review">
        SELECT
        r.*,
        u.username AS username,
        u.avatar,
        b.title AS title
        FROM
        review r
        LEFT JOIN
        user u ON r.user_id = u.id
        LEFT JOIN
        book b ON r.book_id = b.id
        <where>
            <if test="username != null and username != ''">
                AND u.username LIKE CONCAT('%', #{username}, '%')  <!-- 使用 user 表的 username -->
            </if>
            <if test="title != null and title != ''">
                AND b.title LIKE CONCAT('%', #{title}, '%')         <!-- 使用 book 表的 title -->
            </if>
            <if test="rating != null">
                AND r.rating = #{rating}                            <!-- 保留 review 表的 rating -->
            </if>
        </where>
    </select>
    <select id="getReviewByBookId" resultType="com.bookserve.pojo.Review">
        SELECT r.*, u.name,  u.username,u.avatar
        FROM review r
                 LEFT JOIN user u ON r.user_id = u.id
        WHERE r.book_id = #{bookId}
    </select>
    <select id="getReviewByUserId" resultType="com.bookserve.pojo.Review">
        SELECT r.*, u.name,  u.username,u.avatar,b.title
        FROM review r
                 LEFT JOIN user u ON r.user_id = u.id
                 LEFT JOIN book b ON r.book_id = b.id
        WHERE r.user_id = #{userId}
    </select>
</mapper>